/* div.lol {
  background-color: #070000;
  color: aliceblue;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  position: sticky;
  
div {
  background-color: chartreuse;
  color: #000;
} */
