/*ol {
  background-color: black;
  color: aqua;
}
ul {
  background-color: aliceblue;
  color: rgb(255, 0, 0);
}
label {
  background-color: black;
  color: cadetblue;
}
body {
  background-color: cadetblue;
  width: 100%;
}
